/* News container styles */
.newscontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    margin-top: 70px;
  }
  
  /* Article styles */
  .article {
    background-color: #e0ffdf;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  /* Hover effect for articles */
  .article:hover {
    transform: translateY(-4px);
  }
  
  /* Title styles */
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Author styles */
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  /* Description styles */
  p.description {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  /* Image styles */
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  /* Read more link styles */
  .anchor {
    display: inline-block;
    background-color: green;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .anchor:hover {
    background-color: darkgreen;
  }
  .spinner-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    height:50vh; 
  }
  .spinner {
 display: flex;
 justify-content: center;
 align-items: center;
    width: 60px;
    height: 60px;
    border: 6px solid greenyellow ;
    border-top: 6px solid darkgreen;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .newscontainer {
        margin-top: 50px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  