.newslettercontainer {
    height: auto;
    width: 100%;
    /* background: linear-gradient(90deg, #ade5ab, #097809); */
    background-color: #cfd8d2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .newsbox1,
  .newsbox2 {
    margin: 10px;
    padding: 20px;
    width: 600px;
    background-color: #cfcfcf;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  .image21 {
    height: 300px;
    width: 100%;
  }
  
  .newsbox1heading,
  .newsbox2heading {
    text-align: center;
    font-size: 30px;
    font-family: 'Arial', sans-serif;
  }
  
  .newsbox1descryption,
  .newsbox2descryption {
    text-align: center;
    font-size: 18px;
    /* font-family: 'Arial', sans-serif; */
  }
  
  .newsletteremail {
    font-size: 20px;
    height: 70px;
    width: 100%;
    font-family: 'Arial', sans-serif;
    border-radius: 5px;
    color: black;
    background-color: #cfcfcf;
    border: 2px solid darkgreen;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .newsletter-feedback {
    text-align: center;
  }
  
  .newsletter-error {
    font-size: 22px;
    color: red;
  }
  
  .newsletter-success {
    font-size: 20px;
    color: green;
  }
  
  .submitnewsbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 5px;
    height: 70px;
    color: black;
    background-color: #cfcfcf;
    font-size: 24px;
    cursor: pointer;
  }
  .newsbutton{
    font-size: 20px;
    padding: 17px;
    background-color: transparent;
    border-radius: 20px;
    border:2px solid darkgreen;
    width: 200px;
    cursor: pointer;
  }
  