/* Prodslider.css */

.proslidercontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  box-sizing: border-box;
  background-color: rgb(3, 43, 3);
  padding: 20px; /* Add some padding to create space between elements */
}

.carousel {
  z-index: 4;
  float: right;
  border-radius: 10px;
  margin: 10px 0px 0px -850px;
}

.carousel .carousel .control-dots .dot {
  /* Add your desired color value for the indicators here */
  background-color: #37ff00; /* For example, changing to red color */
  border: 2px solid #135905; /* Optional: Add border for the indicators */
}

.carousel .carousel .control-dots .dot.selected {
  /* Add your desired color value for the selected indicator here */
  background-color: #008000; /* For example, changing to green color */
  border: 2px solid #0f910f; /* Optional: Add border for the selected indicator */
}

.proimage2 {
  height: 450px;
  width: auto;
}

.proimage3 {
  height: 450px;
  width: auto;
}

.proimage4 {
  height: 450px;
  width: auto;
}

.proheading {
  z-index: 7;
  height: 450px;
  width: 800px;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin: 10px 0px 0px 20px;
  font-size: 40px;
  font-family: visper libre;
}

.prosliderbutton {
  height: 60px;
  width: 200px;
  font-size: 25px;
  font-family: domine;
  margin-top: 3%;
  border: 2px solid rgb(11, 135, 0);
  background-color: #206035;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.prosliderbutton:hover {
  background-color: rgb(4, 37, 4);
  color: rgb(255, 255, 255);
}

.prohr {
  width: 97%;
}

@media screen and (max-width: 768px) {
  .proslidercontainer {
    height: auto;
    width: 100%;
    padding: 10px; 
  }

  .carousel {
    width:1000px; 
    margin: 20px 0px 0px -600px;
    display: flex;
    justify-content: center;
  }

  .carousel .slider-wrapper {
    width: 100%;
  }

  .carousel .slider {
    width: 100%;
  }

  .proimage2 {
    height: auto;
    max-height: 300px; 
    width: 100%; 
  }
  
  .proimage3 {
    height: auto;
    max-height: 300px; 
    width: 100%; 
  }
  
  .proimage4 {
    height: auto;
    max-height: 300px; 
    width: 100%; 
  }

  .proheading {
    height: auto;
    width: 100%;
    margin: 20px 0;
    font-size: 28px;
  }

  .prosliderbutton {
    width: 160px;
    font-size: 20px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 360px) {
  .carousel {
    width:850px; 
    /* max-width: 700px; */
  margin: 20px 0px 0px -510px;
  display: flex;
  justify-content: center;
  }
}
