/* Product.css */
.productcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .pboxs1 {
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .image1 {
    width: 350px; /* Adjust the width as needed */
    height: auto;
    border-radius: 5px;
  }
  
  .imagetext {
    font-size: 50px;
    font-family: roboto slab;
    color: black;
  }
  
  .productbutton {
    background-color: #206035;
    color: #ffffff;
    font-size: 20px;
    font-family: domine;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  .productbutton:hover {
    background-color:rgb(8, 66, 8);
    color: #ffffff;
    font-size: 20px;
    font-family: domine;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .pbox2container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .pbox4,
  .pbox5,
  .pbox6 {
      flex: 1;
    background-color: #e0ffcf;
    padding: 20px;
    margin: 0 10px;
    border-radius: 5px;
    border:2px inset black;
    box-shadow:0px 0px 3px 3px rgb(190, 190, 190);
}
  .pbox4 .image2,
  .pbox5 .image3,
  .pbox6 .image4 {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    object-fit: cover;
    border-radius: 100px;
    border:2px solid green;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .pbox2container {
      flex-direction: column;
      align-items: center;
    }
  
    .pbox4,
    .pbox5,
    .pbox6 {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 8px;
    }
    .image1 {
 width: 100%;
      height: auto;
      border-radius: 5px;
    }
    
  .imagetext {
    font-size: 50px;
    font-family: "roboto slab";
    color: black;
    width: 100%;
  }
  
  }
  