.headercontainer {
    position: relative;
    overflow: hidden;
    height: 90vh;
    width: 100vw;
  }
  
  .headerleafvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
  }
  
  .video1text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 120px;
    font-family:Lobster;
    text-align: center;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .headercontainer {
      position: relative;
      overflow: hidden;
      height: 90vh;
      width: 100vw;
    }
    
    .headerleafvideo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 90vh;
      object-fit: cover;
    }
    
    .video1text {
      font-size: 70px;
      margin-top: -10%;
    }
  }
  